.menu-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content:space-between;
    align-items: center;
}

.menu-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content:space-around;
    align-items: center;
    list-style: none;
}

.menu-list .menu-item{
    width: 150px;
    text-align: left;
}
.menu-list .menu-item:nth-last-child(1){
    text-align: right;
}
.menu-item a{
display: block;
width: 100%;
}