.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.aside-containera {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 20px;
}

.main-content-containera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  column-gap: 20px;
  width: 100%;

}

.book-containera {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  background: var(--product-background);
  position: relative;
  padding: 20px;
  text-align: center;
  width:calc(33% - 60px);
}

.book-selection{

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  background: var(--product-background);
  position: relative;
  padding: 20px;
  text-align: center;
}


.course-name{
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.book-name{
  padding: 0px;
  margin: 0px;
  text-align: center;
}